VITE_SUPABASE_URL=https://YOUR_PROJECT.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=YOUR_PUBLIC_PUBLISHABLE_KEY
VITE_SAMPLEX_ADMIN_EMAIL=amirsholi999@gmail.com

SUPABASE_URL=https://YOUR_PROJECT.supabase.co
SUPABASE_PUBLISHABLE_KEY=YOUR_PUBLIC_PUBLISHABLE_KEY
SUPABASE_SECRET_KEY=YOUR_PRIVATE_SECRET_KEY
SAMPLEX_ADMIN_EMAIL=amirsholi999@gmail.com
SAMPLEX_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_SIGNING_KEY\n-----END PRIVATE KEY-----"
POLAR_WEBHOOK_SECRET=polar_whs_YOUR_WEBHOOK_SECRET
